$dark: rgb(28, 28, 30);
$lighter-dark: rgb(44, 44, 46);
$light: rgb(242, 242, 247);
$gray: rgb(142, 142, 147);
$blue: rgb(64, 156, 255);
$red: rgb(255, 69, 58);
$teal: rgb(90, 200, 250);

$panel-bg: rgb(242, 242, 247, 0.4);
